.DrawingPanel {
    background: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.panel__info {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.panel__info span {
    width: 15px ;
    height: 15px;
    background: none;
    margin-left:  .5rem;
}
.panel__info-color{
    display: flex;
    align-items: center;

}